html { visibility:hidden; }

h1, h2, h3 {
	margin:0px;
}

a {
	color: CadetBlue;
	font-weight: bold;
}

#contaier {
	height: 950px;
}

#menu {
	overflow: hidden;
	width: 100%;

	position:relative;
}

#main {
	position:relative;
}

#menuitems {
	
}

#mainfooter {
	position: absolute;
	bottom:30px;
	
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

.textcenter {
	text-align: center;
	margin:0 auto;
}

.border {
	/*border: 1pt solid black;*/
	/*background-color: CadetBlue;*/
}

.left {
	float: left;
}

.right {
	float: right;
}

.inline {
	display:inline-block;
}

.small {
	width:150px;
	
}

.large {
	margin:0 auto;
	height:auto;
	width:200px;
	position:relative;
	padding:0px;
}

a.disabled {
    pointer-events: none;
    color:grey;
}

.left {
	float: left;
}

.right {
	float:right;
}

.half {
	width:50%;
}

.hidden { visibility:hidden; }

.overflow {
	overflow: hidden;
}

.slide-out-div {
          padding: 20px;
          width: 350px;
          background: #ccc;
          border: 1px solid #29216d;
          z-index:9999;
      }      

.handle {
	z-index:9999;
}

.autoheight {
	height: auto !important;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

/*
@media not all, (-webkit-transform-3d)
.carousel-inner>.item {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}
*/

.nav-tabs > li, .nav-pills > li {
    float:none !important;
    display:inline-block !important;
    *display:inline !important; /* ie7 fix */
     zoom:1 !important; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center !important;
}

.carousel-inner .item img{
    width: 100%;
}

.lazy-load {
    background: url("http://www.mozart.it/images/preloader.gif") center center no-repeat;
}